body{
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-search{
    display: flex;
    align-items: center;
    
    
}

.select-bar1 select{
    width: 50px;
}
.the-header{
    display: flex;
}

.select-bar2{
    margin: 10px;
    display: flex;
    gap: 10px;
}


.all-search input{
    width: 600px;
}

.the-header{
    height: 100px;
    background-color: rgb(1, 1, 36);
    padding-left:30px ;
        padding-right:30px ;
        padding-top: 10px;

    
}

.all-search a{
    color: white;
    text-decoration: none;
    font-size: large;
}

.catogries{
    display: flex;
    align-items: center;
    padding:0 30px;
    background-color: #232F3E;
    height: 50px;

}
.catogries-links{
    margin-left: 80px;
}
.catogries-links a{
    color: white;
    text-decoration: none;
    font-size: large;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
  
}
.catogries-links a:hover{
      border: 2px solid white;
}

.main1{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px 30px;
    
}


.m1-1,
.m1-2,
.m1-3,
.m1-4 {
    width: 300px;
    height: 400px;
    background-color: rgb(213, 208, 208);
    border-radius: 10px;
    
}


.grid1{
     width: 300px;
    height: 400px;
    background-color: rgb(213, 208, 208);
    border-radius: 10px;
     display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
        margin: 10px 15px;


}



.g1-1,
.g1-2,
.g1-3,
.g1-4 {
    width: 100px;
    height: 150px;
    gap: 20px;
    background-color: rgb(93, 85, 85);
    margin: 20px;
    border-radius: 10px;
    
}



.grid2{
     width: 300px;
    height: 400px;
    background-color: rgb(213, 208, 208);
    border-radius: 10px;
     display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
        margin: 10px 15px;


}



.g2-1,
.g2-2,
.g2-3,
.g2-4 {
    width: 100px;
    height: 150px;
    gap: 20px;
    background-color: rgb(93, 85, 85);
    margin: 20px;
    border-radius: 10px;
    
}




.grid3{
     width: 300px;
    height: 400px;
    background-color: rgb(213, 208, 208);
    border-radius: 10px;
     display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
        margin: 10px 15px;


}



.g3-1,
.g3-2,
.g3-3,
.g3-4 {
    width: 100px;
    height: 150px;
    gap: 20px;
    background-color: rgb(93, 85, 85);
    margin: 20px;
    border-radius: 10px;
    
}



.grid4{
     width: 300px;
    height: 400px;
    background-color: rgb(213, 208, 208);
    border-radius: 10px;
     display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
        margin: 10px 15px;


}



.g4-1,
.g4-2,
.g4-3,
.g4-4 {
    width: 100px;
    height: 150px;
    gap: 20px;
    background-color: rgb(93, 85, 85);
    margin: 20px;
    border-radius: 10px;
    
}

.all-grid{
    display: flex;
}


.all-grid2{
    display: flex;
}






.grid5{
     width: 300px;
    height: 400px;
    background-color: rgb(213, 208, 208);
    border-radius: 10px;
     display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
        margin: 10px 15px;


}



.g5-1,
.g5-2,
.g5-3,
.g5-4 {
    width: 100px;
    height: 150px;
    gap: 20px;
    background-color: rgb(93, 85, 85);
    margin: 20px;
    border-radius: 10px;
    
}



.grid6{
     width: 300px;
    height: 400px;
    background-color: rgb(213, 208, 208);
    border-radius: 10px;
     display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
        margin: 10px 15px;


}



.g6-1,
.g6-2,
.g6-3,
.g6-4 {
    width: 100px;
    height: 150px;
    gap: 20px;
    background-color: rgb(93, 85, 85);
    margin: 20px;
    border-radius: 10px;
    
}

.befor-footer h1{
    text-align: center;

}

.btn1 button{
         margin-left: 600px;
         padding:5px 70px;
         background-color: yellow;
         border-radius: 20px;
         border: 1px solid yellow;
}
.befor-footer p{
    margin-left: 620px;
    display: inline;
    margin-top: 10px;
}


.back{
    background-color: #49607b;
    color: white;
    padding: 10px;
    
}

.back h4{
    margin-left: 640px;
    color: white;
    
    
}

.part1 h3{
    color: white;
    background-color: #232F3E;

}

.part1{
    margin: 0;
    background-color: #232F3E;
    padding-left: 10px;
}

.part1 a{
    display: flex;
    flex-direction: column;
    color: white;

}

.last-thing{
    display: flex;
    justify-content:center;
    gap: 200px;
}

